:root {
  --primary: #C0D123;
  --secondary: #B8CB0A20;
  --third: #F9F9F9;
}
/* @font-face {
  font-family: 'cairo';
  src: url('./assets/fonts/Cairo-VariableFont_slnt,wght.ttf') format('truetype');
  font-display: swap;

} */
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

::selection {
  background-color: #000000; 
  color: #ffffff; 
}

.hamburger {
  cursor: pointer;
}

.hamburger input {
  display: none;
}

.hamburger svg {
  height: 3em;
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
              stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
  transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}
