/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
.DS_Store
docker/database/data
frontend/temp
frontend/package-lock.json

# build frontend
backend/public/static/js/
backend/public/static/css/
backend/public/index.html
backend/public/asset-manifest.json

backend/public/css/app.css
backend/public/css/index.css
backend/public/js/central.js
backend/public/js/tenant.js
backend/public/mix-manifest.json