/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
composer.lock
/.fleet
/.idea
/.vscode
.DS_Store
storage

# nova
nova/node_modules
nova/vendor
nova/composer.lock

# build frontend
public/static/js/
public/static/css/
public/index.html
public/asset-manifest.json
resources/views/index.blade.php
